This file contains Exploratory Data Analysis of the Data set provided by Dr. Hong!

In [1]:
# Importing necessary Packages

import numpy as np 
import pandas as pd
import matplotlib as pt

In [2]:
# Reading the dataframe

df = pd.read_csv('/home/reu24mandaloju/Project_INFO_5709/data/Final_Immigrants_geolocation_data.csv')
df.head()

,created_at,id,id_str,text,user,geo,coordinates,place,contributors,lang,...,Frames,Perspective,Issuereport,Issuecritique,Need,extracted_place,state_of_tweet,user_coordinates,longitude,latitude
0,Sun Oct 01 00:00:06 +0000 2017,9.140000e+17,9.140000e+17,RT @NIVIsa4031: .@fema their response to Puert...,"{'id': 852896725597659137, 'id_str': '85289672...",NaN,NaN,NaN,NaN,en,...,critique,local,damage-need,government,other,"Alabama, USA",Alabama,"[-86.75026, 32.75041]",-86.75026,32.75041
1,Sun Oct 01 02:04:33 +0000 2017,9.140000e+17,9.140000e+17,"RT @Visacca: I love you, #PuertoRico.ðŸŒ¹","{'id': 771511754, 'id_str': '771511754', 'name...",NaN,NaN,NaN,NaN,en,...,report,local,damage-need,100,other,"Birmingham, AL",Alabama,"[-86.80249, 33.52066]",-86.80249,33.52066
2,Sun Oct 01 02:36:59 +0000 2017,9.140000e+17,9.140000e+17,Ok all of the Puerto Rican folks flowing into ...,"{'id': 832308689902120960, 'id_str': '83230868...",NaN,NaN,NaN,NaN,en,...,report,local,societal-aid,100,other,"Melbourne, FL",Florida,"[-80.60811, 28.08363]",-80.60811,28.08363
3,Sun Oct 01 12:22:31 +0000 2017,9.140000e+17,9.140000e+17,RT @reedfrich: How Trump's xenophobic immigrat...,"{'id': 18104303, 'id_str': '18104303', 'name':...",NaN,NaN,NaN,NaN,en,...,critique,local,societal-aid,government,other,"Tampa, Florida",Florida,"[-82.45843, 27.94752]",-82.45843,27.94752
4,Sun Oct 01 12:43:24 +0000 2017,9.140000e+17,9.140000e+17,RT @RobinRespaut: Cruise ship arrived in San J...,"{'id': 24016008, 'id_str': '24016008', 'name':...",NaN,NaN,NaN,NaN,en,...,report,local,societal-aid,100,physiological,"Atlanta, Florida, Kgn Jamaica",Florida,"[-82.5001, 28.75054]",-82.50010,28.75054

In [3]:
# Finding hte data types of the columns

df.dtypes

created_at              object
id                     float64
id_str                 float64
text                    object
user                    object
geo                     object
coordinates             object
place                   object
contributors           float64
lang                    object
timestamp_ms           float64
matching_rules          object
extended_entities       object
cleaned_text            object
mentioned_countries     object
Frames                  object
Perspective             object
Issuereport             object
Issuecritique           object
Need                    object
extracted_place         object
state_of_tweet          object
user_coordinates        object
longitude              float64
latitude               float64
dtype: object

In [4]:
# Find the statistics of the data

df.describe

<bound method NDFrame.describe of                           created_at            id        id_str  \
0     Sun Oct 01 00:00:06 +0000 2017  9.140000e+17  9.140000e+17
1     Sun Oct 01 02:04:33 +0000 2017  9.140000e+17  9.140000e+17
2     Sun Oct 01 02:36:59 +0000 2017  9.140000e+17  9.140000e+17
3     Sun Oct 01 12:22:31 +0000 2017  9.140000e+17  9.140000e+17
4     Sun Oct 01 12:43:24 +0000 2017  9.140000e+17  9.140000e+17
...                              ...           ...           ...
2563  Fri Sep 01 18:27:17 +0000 2017  9.040000e+17  9.040000e+17
2564  Fri Sep 01 23:09:28 +0000 2017  9.040000e+17  9.040000e+17
2565  Fri Sep 01 23:15:41 +0000 2017  9.040000e+17  9.040000e+17
2566  Sat Sep 02 04:43:31 +0000 2017  9.040000e+17  9.040000e+17
2567  Sat Sep 02 11:03:27 +0000 2017  9.040000e+17  9.040000e+17

                                                   text  \
0     RT @NIVIsa4031: .@fema their response to Puert...
1                RT @Visacca: I love you, #PuertoRico.ðŸŒ¹
2     Ok all of the Puerto Rican folks flowing into ...
3     RT @reedfrich: How Trump's xenophobic immigrat...
4     RT @RobinRespaut: Cruise ship arrived in San J...
...                                                 ...
2563  Immigrants will suffer the worst after Hurrica...
2564  Undocumented immigrants told us about their fe...
2565  Due to hurricane Harvey there is no real good ...
2566  DACA paramedic makes sure many others will con...
2567  @CNN @CNNPolitics go stage another refugee res...

                                                   user  geo coordinates  \
0     {'id': 852896725597659137, 'id_str': '85289672...  NaN         NaN
1     {'id': 771511754, 'id_str': '771511754', 'name...  NaN         NaN
2     {'id': 832308689902120960, 'id_str': '83230868...  NaN         NaN
3     {'id': 18104303, 'id_str': '18104303', 'name':...  NaN         NaN
4     {'id': 24016008, 'id_str': '24016008', 'name':...  NaN         NaN
...                                                 ...  ...         ...
2563  {'id': 727933551526748161, 'id_str': '72793355...  NaN         NaN
2564  {'id': 48088050, 'id_str': '48088050', 'name':...  NaN         NaN
2565  {'id': 29513395, 'id_str': '29513395', 'name':...  NaN         NaN
2566  {'id': 887671540430647296, 'id_str': '88767154...  NaN         NaN
2567  {'id': 340334747, 'id_str': '340334747', 'name...  NaN         NaN

                                                  place  contributors lang  \
0                                                   NaN           NaN   en
1                                                   NaN           NaN   en
2                                                   NaN           NaN   en
3                                                   NaN           NaN   en
4                                                   NaN           NaN   en
...                                                 ...           ...  ...
2563  {'id': '04cb31bae3b3af93', 'url': 'https://api...           NaN   en
2564  {'id': '1703b859c254a0f9', 'url': 'https://api...           NaN   en
2565  {'id': 'fa8f8f24dc772cc0', 'url': 'https://api...           NaN   en
2566  {'id': '481021182030dbe6', 'url': 'https://api...           NaN   en
2567  {'id': '4caafbe771809878', 'url': 'https://api...           NaN   en

      ...    Frames Perspective   Issuereport Issuecritique           Need  \
0     ...  critique       local   damage-need    government          other
1     ...    report       local   damage-need           100          other
2     ...    report       local  societal-aid           100          other
3     ...  critique       local  societal-aid    government          other
4     ...    report       local  societal-aid           100  physiological
...   ...       ...         ...           ...           ...            ...
2563  ...  critique       local  societal-aid           100  physiological
2564  ...  critique       local  societal-aid           100  physiological
2565  ...  critique       local   damage-need    government          other
2566  ...    report       local  societal-aid           100  physiological
2567  ...    report       local   damage-need           100  physiological

                     extracted_place state_of_tweet       user_coordinates  \
0                       Alabama, USA        Alabama  [-86.75026, 32.75041]
1                     Birmingham, AL        Alabama  [-86.80249, 33.52066]
2                      Melbourne, FL        Florida  [-80.60811, 28.08363]
3                     Tampa, Florida        Florida  [-82.45843, 27.94752]
4      Atlanta, Florida, Kgn Jamaica        Florida   [-82.5001, 28.75054]
...                              ...            ...                    ...
2563                           Miami           Iowa  [-80.19366, 25.77427]
2564                             NaN            NaN                    NaN
2565                            Here            NaN                    NaN
2566                    McGregor, FL        Florida  [-81.91453, 26.56091]
2567   Guess? USA all u need 2 know!        Alabama                    NaN

     longitude  latitude
0    -86.75026  32.75041
1    -86.80249  33.52066
2    -80.60811  28.08363
3    -82.45843  27.94752
4    -82.50010  28.75054
...        ...       ...
2563 -80.19366  25.77427
2564       NaN       NaN
2565       NaN       NaN
2566 -81.91453  26.56091
2567       NaN       NaN

[2568 rows x 25 columns]>

In [5]:
# Finding the shape of the data
df.shape

(2568, 25)

In [6]:
# Displaying the columns of the data
df.columns

Index(['created_at', 'id', 'id_str', 'text', 'user', 'geo', 'coordinates',
       'place', 'contributors', 'lang', 'timestamp_ms', 'matching_rules',
       'extended_entities', 'cleaned_text', 'mentioned_countries', 'Frames',
       'Perspective', 'Issuereport', 'Issuecritique', 'Need',
       'extracted_place', 'state_of_tweet', 'user_coordinates', 'longitude',
       'latitude'],
      dtype='object')

In [7]:
# Finding the null values in the data

df.isnull().sum()

created_at                0
id                        0
id_str                    0
text                      0
user                      0
geo                    2560
coordinates            2560
place                  2370
contributors           2568
lang                      0
timestamp_ms              0
matching_rules            0
extended_entities      2391
cleaned_text              2
mentioned_countries    2116
Frames                    0
Perspective               0
Issuereport               0
Issuecritique             0
Need                      0
extracted_place          28
state_of_tweet           32
user_coordinates         38
longitude                38
latitude                 38
dtype: int64

In [8]:
# Dropping the columns which have the most null values

df = df.drop(columns=['geo','coordinates','place','contributors','extended_entities','mentioned_countries'])
df.shape

(2568, 19)

In [9]:
# Finding unique values of a column.

unique_values = df['Frames'].unique()
print(unique_values)
len(unique_values)

['critique' 'report' 'other']

3

In [10]:
# Drop rows where 'cleaned_text' or coordinates are missing
df = df.dropna(subset=['cleaned_text', 'longitude', 'latitude'])

# Removing columns with only one unique value as this doesn't contribute to anything
df = df.drop(columns= ['lang'])

# Removing redudant columns - we have latitude and longitude
df = df.drop(columns= ['user_coordinates'])

# dropping 'id' and 'id_str' as both of them have only 19 unique values
# This could be due to many tweet IDs got truncated or duplicated when the data was processed
# or exported to scientific notation rounding.
df = df.drop(columns= ['id','id_str'])


# dropping 'timestamp_ms' as it has only 2 unique value and doesn't make any sense
# This could have got duplicated as well
df = df.drop(columns=['timestamp_ms'])

In [11]:
# Checking the null values again
df.isnull().sum()

created_at         0
text               0
user               0
matching_rules     0
cleaned_text       0
Frames             0
Perspective        0
Issuereport        0
Issuecritique      0
Need               0
extracted_place    0
state_of_tweet     0
longitude          0
latitude           0
dtype: int64

In [12]:
# Convert to datetime
df['created_at'] = pd.to_datetime(df['created_at'])

# Extract date and day
df['Tweet_date'] = df['created_at'].dt.date
df['Tweet_day'] = df['created_at'].dt.day_name()

# Drop the original column
df = df.drop(columns=['created_at'])

/tmp/ipykernel_1003191/1832539936.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['created_at'] = pd.to_datetime(df['created_at'])

In [13]:
# Checking the columns again

df.columns

Index(['text', 'user', 'matching_rules', 'cleaned_text', 'Frames',
       'Perspective', 'Issuereport', 'Issuecritique', 'Need',
       'extracted_place', 'state_of_tweet', 'longitude', 'latitude',
       'Tweet_date', 'Tweet_day'],
      dtype='object')

In [14]:
#import json
#print(json.dumps(df['user'].iloc[0], indent=2))

In [ ]:
# Extracting useful information from the 'user' column

import ast

# Step 1: Parse the stringified Python dict safely
df['user'] = df['user'].apply(ast.literal_eval)

# Step 2: Normalize
user_df = pd.json_normalize(df['user'])

# Step 3: Extract desired columns (adding NaNs if missing)
cols_to_extract = [
    'id', 'screen_name', 'followers_count',
    'friends_count', 'statuses_count', 'created_at',
    'verified', 'description'
]

for col in cols_to_extract:
    if col not in user_df.columns:
        user_df[col] = pd.NA

user_df = user_df[cols_to_extract].rename(columns={
    'id': 'user_id',
    'created_at': 'user_created_at'
})

In [16]:
# Finding the shape of the user_df

user_df.shape

(2528, 8)

In [17]:
# Checking the null values of the user_df

user_df.isnull().sum()

user_id              0
screen_name          0
followers_count      0
friends_count        0
statuses_count       0
user_created_at      0
verified             0
description        168
dtype: int64

In [18]:
# Reset both indexes to ensure row-wise alignment
df = df.reset_index(drop=True)
user_df = user_df.reset_index(drop=True)

# Then concat safely
df = pd.concat([df, user_df], axis=1)

In [19]:
# Checking the columns again

df.columns

Index(['text', 'user', 'matching_rules', 'cleaned_text', 'Frames',
       'Perspective', 'Issuereport', 'Issuecritique', 'Need',
       'extracted_place', 'state_of_tweet', 'longitude', 'latitude',
       'Tweet_date', 'Tweet_day', 'user_id', 'screen_name', 'followers_count',
       'friends_count', 'statuses_count', 'user_created_at', 'verified',
       'description'],
      dtype='object')

In [20]:
#df['created_at'].head()

In [21]:
# Convert to datetime
df['user_created_at'] = pd.to_datetime(df['user_created_at'])

# Extract date and day
df['User_Created_date'] = df['user_created_at'].dt.date
df['User_Created_day'] = df['user_created_at'].dt.day_name()

# Drop the original column
df = df.drop(columns=['user_created_at'])

/tmp/ipykernel_1003191/3613844146.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['user_created_at'] = pd.to_datetime(df['user_created_at'])

In [22]:
#df['User_Created_day'].head()

In [23]:
# filling the null values in the description column with 'NA'

df['description'] = df['description'].fillna('NA')

In [24]:
# Final check of the null values in the data 

df.isnull().sum()

text                 0
user                 0
matching_rules       0
cleaned_text         0
Frames               0
Perspective          0
Issuereport          0
Issuecritique        0
Need                 0
extracted_place      0
state_of_tweet       0
longitude            0
latitude             0
Tweet_date           0
Tweet_day            0
user_id              0
screen_name          0
followers_count      0
friends_count        0
statuses_count       0
verified             0
description          0
User_Created_date    0
User_Created_day     0
dtype: int64

In [55]:
# Dropping some irrelevant columns for visualizaton using tableau

df = df.drop(columns=['text','user', 'matching_rules','cleaned_text','description'])

In [56]:
# Save the DataFrame as a CSV file
df.to_csv('/home/reu24mandaloju/Project_INFO_5709/data/cleaned_immigrant_tweets.csv', index=False)